* {
  box-sizing: border-box;
}
body{
  background-color: #14213d;
}
main {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
}
h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.todo__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}


#taskInput {
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease;
  width: 100%;
}

#taskInput:focus {
  border-color: #14213d;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

#addBtn {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  background: #fca311;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 5px;
  width: 100%;
}

#addBtn:hover {
  background: #14213d;
}

#addBtn:active {
  transform: scale(0.97);
}

#errorMessage {
  position: absolute;
  margin-top: 5px;
  color: red;
  font-size: 14px;
}

/*=================================todo items=========================== */
.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  background: #f5f5f5;
  border-radius: 8px;
}

.todo__text {
  flex: 1;
}

.todo__actions {
  display: flex;
  gap: 8px;
}

.todo__btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.todo__btn--delete {
  color: red;
}

.todo__btn--update {
  color: green;
}
.completed .todo__actions .todo__btn--update{
    display: none;
}

footer {
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}