.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  background: #f5f5f5;
  border-radius: 8px;
}

.todo__text {
  flex: 1;
}

.todo__actions {
  display: flex;
  gap: 8px;
}

.todo__btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.todo__btn--delete {
  color: red;
}

.todo__btn--update {
  color: green;
}
.completed .todo__actions .todo__btn--update{
    display: none;
}